.addButton {
	white-space: normal;
	/* word-wrap: break-word; */
}

.plusIcon {
	font-size: .7em;
	font-weight: 'lightest';
}

.modal-header .form-control {
	font-size: 1.2em;
	color: black;
	border: 0;
}

.modal-header .form-control:focus {
	box-shadow: none;
}

.SchedulerCalendar .fc-basic-view,
.ViewingCalendar .fc-basic-view,
.ViewingCalendar .fc-widget-content {
	cursor: pointer;
}